:root{
    --nav-text-color: #292929;
    --main-text-color: #6c707c;
    --white-color: #ffffff;
    --about-color:#6e77e9;
    --border: 0.125rem solid #6e77e9;
    --box-shadow:2px 2px 12px rgba(0, 0, 0, 0.1);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #FBFAF5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* background-color: #edf1fd; */
    position: relative;
    background-image: url(./img/retro-5065154_1280.png);
    background-size: cover;
    background-position: right top;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 60px;
    background-color: #f8f4f4;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--nav-text-color);
    font-family: Poppins;
}
.menu{
    /* display: none; */
    display: flex;
}
.menu > li{
    margin: 0 1rem;
    overflow: hidden;
}

.menu li a{
    padding: 10px 16px;
    color: #6c707c;
    font-size: 12px;
}

.menu li a:hover,
.active{
    background-color: #292929;
    /* background-color: var(--nav-text-color); */
    color: #ffffff !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
#check{
    display: none;
}
.open-menu, .close-menu{
position: absolute;
cursor: pointer;
font-size: 1.2rem;
display: none;
}
.open-menu{
top: 50%;
right: 2%;
transform: translateY(-50%);
}
.close-menu{
top: 20px;
right: 20px;

}
@media(max-width:955px){
.menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 20%;
    height: 350px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgb(206, 202, 202);
    transition: all ease-in-out 0.2s;
    margin: 0;
    opacity: 0.7;
}
.menu li{
    margin-top: 40px;

}
.menu li a{
    padding: 10px;
}
.open-menu, .close-menu{
    display: block;
}
#check:checked ~ .menu {
    right: 0;
}
#check:checked ~ .open-menu{
    display: none;
}
}
.name{
    font-family: calibri;
    width: 300px;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-20%, -50%);
}

.name p:nth-child(1),
.name .detail{
    color: var(--main-text-color);
    font-size: 1.2rem;
}
.name h1{
    font-family: Poppins;
    font-size: 2.4rem;
    color: var(--nav-text-color);
    margin: 0;
    letter-spacing: 0.2rem;
}

.btn{
    width: 200px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-text-color);
    color: var(--white-color);
}
.btn:hover{
    background-color: #131313;
    transition: all ease 0.5;
}

.social-media{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social-media a{
    margin: 6px 12px;    
}
.social-media i{
    color: rgba(18, 17, 17 , 0.4);
    font-size: 1.2rem;
}
.social-media a:hover i{
    color:var(--about-color);
    transition: all ease 0.5s;
}

.arrow{
    /* align-self は揃え位置を個別に指定 */
    align-self: end;
    width: 50%;
    height: 5%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(40, 40, 40, 0.4);
}
/* creat arrow */
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #292929 transparent transparent transparent;
    right: -0.6em;
    bottom: -0.6em;
}

/* about */
#about{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0 5%;
    position: relative;
}

.about-text{
    font-family:Calibri;
    margin-bottom: 400px;
}

.about-text h1{
    font-size: 5rem;
    color: var(--about-color);
}

.about-text h2{
    font-size: 3rem;
    color: var(--nav-text-color);
    font-size: 400;
}

.about-text h1,h2{
    margin: 0;
    padding: 0;
}

.about-text p{
    font-size: 1.2rem;
    color: rgba(20, 20, 20, 0.8);
}

.about-text label{
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--about-color);
}


.about-text label:hover{
    background-color: var(--white-color);
    transition: all ease 0.4s;
    
}

#scroll-edu{
    position: absolute;
    bottom: 360px;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    right: 14%;
    text-align: center;
}
#scroll-edu2{
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    text-align: center;   
}

#education{
    display: none;
        /* width: 100%;
        height: 100vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(./img/pexels-jonas-svidras-785418.jpg);
    /* margin-top: 10px; */
    background-size: cover;
    background-position: right top;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

.education-heading h1{
    color: var(--nav-text-color);
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.education-heading p{
    color: rgba(34, 33, 33, 0.8);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.education-heading{
    text-align: center;
    margin: 20px 0;
}

.education-container{
    border-left: solid var(--nav-text-color) 2px;
    width: 40%;
}

.education-container .education-content{
    /* background: green; */
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
    color: var(--nav-text-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* creat a circle by before attribute :)) */

.education-container .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.7rem;
    /* width: 1.2rem;
    height: 1.2rem; */
    /* background: var(--main-color); */
    width: 1.2rem;
    height: 1.2rem;
    background: var(--nav-text-color);
    border-radius: 50%;
}
.education-content .year i{
    margin-right: 0.4rem;
}

.education-content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: var(--border);
    object-fit: cover;
}

/* show more button */
#show{
    display: none;
}

#show:checked ~ #education{
    display: flex;
}

#show:checked ~ label{
    display: none;
}

#show:checked ~ #scroll-edu{
    display: none;
}

/* learning */

#learning{
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    

}
.learning-heading{
    text-align: center;
    margin: 20px 0;
}
.learning-heading h1{
    color: var(--about-color);
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}

.learning-heading p{
    color: rgba(20, 20, 20, 0.7);
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

.learning-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.learning-container_box{
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:var(--box-shadow);
    position: relative;
}
.learning-container_img{
    width: 100%;
    height: 70%;

}
.learning-container_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.learning-container_text{
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learning-container_text a{
    margin: 0;
    color: var(--white-color);
    font-family: calibri;
    display: block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.learning-type{
    font-size: 18px;
    font-family: calibri;
    color: var(--white-color);
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);/* fit center*/
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow);
}
.learning-container_box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.learning-container_text a:hover{
    color: rgba(199, 194, 194, 0.8);
}

/* hobby */
#hobby{
    width: 100%;
    box-sizing: border-box;
    font-family: calbiri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 60px 2%;
}
.hobby-heading{
    font-family: calbiri;
    font-size: 1.6rem;
    text-align: center;
    color: var(--white-color);
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}
.hobby-container{
    width: 80%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.hobby-box{
    background-color: rgba(180, 177, 177, 0.1);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
   
}
.hobby-box img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    
    margin: 0;
}



.text-overlay{
    font-family: Calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(19, 24, 23, 0.8);
    display: none;
    cursor: pointer;
}
.text-overlay h1,p{
    color: var(--white-color);
}
.text-overlay h1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
.text-overlay{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.text-overlay p{
    font-size: 1.2rem;
    margin: 20px;
    padding: 0;
    text-align: center;
}
.hobby-box:hover .text-overlay{
    display: flex;
}

#show-traveling{
    display: none;
}
#show-traveling:checked ~ #traveling{
    display: flex;
}
/* traveling */
#traveling{
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    font-family: calbiri;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2% 60px 2%;
    
}

#traveling input{
    display: none;
}

#traveling .check-btn-img{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#traveling .responsive-check-btn{
    display: none;
}
#traveling .check-btn-img label{
    width: 15%;
    border: 2px solid var(--main-text-color);
    border-radius: 50px;
    color: var(--main-text-color);
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#traveling .tr-box-container{
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.tr-box-container img{
    width: 300px;
    height: 300px;
    transition: all ease-in-out 0.5s;
    border: var(--border);
    border-radius: 20px;
}
.tr-box-container video{
    width: 300px;
    height: 300px;
    transition: all ease-in-out 0.5s;
    border: var(--border);
    border-radius: 20px;
}
.tr-box-container video:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.tr-box-container img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#traveling input:checked + label{
    background: #1f2732;
    color: var(--white-color);
}

#traveling #img-reset:checked ~ .check-btn-img #all{
    background: #1f2732;
    color: var(--white-color);
}
#traveling #img-vn:checked ~ .check-btn-img #vn{
    background: #1f2732;
    color: var(--white-color);
}
#traveling #img-jp:checked ~ .check-btn-img #jp{
    background: #1f2732;
    color: var(--white-color);
}
#traveling #img-vn:checked ~ .tr-box-container > img:not(.vnam)
{
    width: 0;
    height: 0;
}
#traveling #img-vn:checked ~.tr-box-container > video:not(.vnam){
    width: 0;
    height: 0;
}
#traveling #img-jp:checked ~ .tr-box-container > img:not(.japan){
    width: 0;
    height: 0;
}

/* contact button */
#contact-button h1{
    font-size: 2rem;
    color: #1e1e1e;
    font-family: Calibri;
    margin: 10px;
    padding: 5px;
}

#contact-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f8f4f4;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

#contact-button a{
    color: var(--white-color);
    font-size: 1rem;
    font-family: Calibri;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#contact-button a:hover{
    background-color:var(--about-color);
    color:#000000;
    transition: all ease 0.5s;
    font-weight: 700;
}

/* contact form (message) */
#contact-form{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#contact-form form{
    display: flex;
    width: 70%;
    height: 60%;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.02);

}
.left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.right{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(0255, 255, 255, 0.08);

}
.left-heading{
    font-family: Calbiri;
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.left-name,.left-email{
    display: flex;
    flex-direction: column;
    font-family: calibri;

}
.left-name label,.left-email label{
    color: #bfbfbf;
    font-size: 22px;

} 
.left-name input,.left-email input{
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #ffffff;
    margin: 10px 0;
}
.left-email input::placeholder,.left-name input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;

}
.left-mail input:focus, .left-name input:focus{
    border-bottom: 1px solid var(--about-color);
    transition: all ease 0.3s;
}

.left .form-img{
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
/* .left .form-img:hover{
    background-color: #131313;
    transition: all ease 0.5s;
    
} */
.left .form-img img{
    padding-top: 10px;
    height: 200px;
}
.message label{
    font-size: 2rem;
    color: #4e4e4e;
    font-family: Calibri;

}
.message{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.right textarea{
    width: 100%;
    height: 320px;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 1rem;
    resize: none;
}
.right textarea::placeholder{
    color: #ebebeb;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: calibri;
    
}
.right button{
    width: 100%;
    height: 50px;
    background-color:var(--about-color);
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 2px;

}

#footer{
    background-color:var(--nav-text-color);
    padding-top: 6px;
    margin-top: 5px;
}

.footer-container{
    width: 100%;
    /* padding: 70px 30px 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icon{
    display: flex;
    justify-content: center;

}

.social-icon a{
    height: 30px;
    width: 30px;
    padding: 10px;
    background-color: var(--white-color);
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon a i{
    font-size: 1.4rem;
    color: var(--nav-text-color);
    opacity: 0.9;
}

.social-icon a:hover{
    background-color: var(--nav-text-color);
    transition: 0.4s;
}

.social-icon a:hover i{
    color: var(--white-color);
    transition: 0.3s;
}

.footer-nav{
    margin: 10px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
}
.footer-nav ul li a{
    color: var(--white-color);
    margin: 20px;
    font-size: 1.2rem;
    font-family:calibri ;
    opacity: 0.7;
    transition: 0.4s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}
.footer-bottom{
    background-color: var(--nav-text-color);
    padding: 20px;
    text-align: center;

}
.creatted{
    opacity: 0.6;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

/* responsive */
@media(max-width:1160px) {
    #main{
        background-size: 1150px;
    }
    .name{
        left: 10%;
        top: 50%;
        transform: translate(-10%,-50%);
    }
    .arrow{
        display: none;
    }
    .about-model img{
        height: 300px;
    }
    #learning{
        height: auto;
    }
    .learning-container{
        flex-wrap: wrap;
    }
    .learning-container_box{
        flex-grow: 1;
    }
    .learning-container_text{
        text-align: center;
    }
    #contact-form form{
        width: 90% !important;
    }
    .hobby-container{
        height: auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
    .hobby-box{
        width:300px;
        height: 400px;
    }

}
@media(max-width:1130px){
    #traveling .default{
        display: none;
    }
    #traveling .responsive-check-btn{
        display: flex;
    }
}
@media(max-width:970px){
    #main{
        background-image: url(img/pexels-goumbik-1420709.jpg);
        background-size: cover;
    }
    .name{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .arrow{
        display: none;
    }
    .about-model{
        display: none;
    }
    #about{
        justify-content: center;
        padding-top: 0;
    }
    .about-text{
        width: 80%;
    }
    .about-text h1{
        font-size: 3rem;
    }
    .about-text h2{
        font-size: 2rem;
    }
    .education-container{
        width: 72%;
    }
}
@media(max-width:780px){
    #contact-form{
        height: auto;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    #contact-form form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    #contact-form .right{
        border-left: none;
        border-top: 1px solid rgba(0255, 255, 255, 0.08);
        margin-top: 10px;
    }
    .footer-nav ul{
        flex-direction: column;
        padding: 0;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}
@media(max-width:600px){
    .education-content{
        flex-direction: column;
    }
    #education{
        background-color: rgba(255, 255, 255, 0.4);
        background-blend-mode: lighten;
    }
    .education-content img{
        height: 150px;
        width: 150px;
    }
    
}
@media(max-width:350px){
    html, body{
        width: 100%;
        overflow-x: hidden;
    }
}